:root {
    --nav_background-color: rgba(0, 0, 0, 0.2);
    --title_background-color: rgba(0, 0, 0, 0.4);
    --item_background-color: rgba(255, 255, 255, 0.4);
    --name-product_background-color: rgba(0, 0, 0, 0.6);
    --footer_background-color: rgba(0, 0, 0, 0.2);
    --login-button: #1A6AB6;
    --background-dangky: rgba(255, 255, 255, 0.6);
}