.space {
    height: 100px;
}

.frame {
    font-family: sans-serif;
    width: 95%;
    background-color: var(--background-dangky);
    margin: 0 auto 10px auto;
    border-radius: 10px;
}

.frame>h2 {
    font-family: Fester_Bold;
    text-align: center;
    margin-block-start: 0;
    margin-top: -30px;
}

.frame>p {
    text-align: center;
}

.Dangky-content form {
    margin-top: 20px;
}

.redstar {
    color: red;
}

.form-row {
    display: flex;
    padding-left: 80px;
    margin: 5px 0 15px 0;
}

.form-row--left,
.form-row--right {
    flex: 1;
    display: flex;
}

.form-row--left>label,
.form-row--right>label {
    min-width: 130px;
    vertical-align: middle;
    margin-top: 8px;
}

.form-row--left>input,
.form-row--right>input {
    width: 400px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid rgb(73, 73, 73);
    font-size: 17px;
}

.gt {
    display: flex;
}

.gtinh {
    margin-top: 7px;
    display: flex;
}

input[type="radio"] {
    margin-top: 10px;
    width: 20px;
    vertical-align: middle;
}

input[type="radio"]:first-child {
    margin: 10px 0 0 0px;
}

input[type="radio"]:last-child {
    margin: 10px 0 0 40px;
}

.line {
    height: 1px;
    width: 100%;
    background-color: rgb(61, 61, 61);
    margin-bottom: 20px;
}

.footer-dangky {
    display: flex;
    margin-bottom: 20px;
}

.ft-left {
    flex: 1;
    text-align: center;
    margin-bottom: 20px;
}

#linktodn {
    color: rgb(24, 0, 0);
    text-decoration: underline;
}

#linktodn:hover {
    color: rgb(248, 61, 61);
    cursor: pointer;
}

.ft-center {
    flex: 3;
}

.ft-right {
    flex: 1;
    text-align: center;
}

.dn-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#gg_link-icon,
#fb_link-icon,
#tw_link-icon {
    border: none;
    margin: 0 15px;
    width: 45px;
    height: 45px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(39, 39, 39, 0.1);
}

#gg_link-icon {
    background-image: url(../images/ICON/GG.png);
    background-size: 100%;
}

#fb_link-icon {
    background-image: url(../images/ICON/FB.png);
    background-size: 100%;
}

#tw_link-icon {
    background-image: url(../images/ICON/TW.png);
    background-size: 100%;
}

#gg_link-icon:hover,
#fb_link-icon:hover,
#tw_link-icon:hover {
    margin: 1 16px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(2, 53, 119, 0.3);
}

#btnDangky {
    margin-top: 30px;
    background-color: var(--login-button);
    border: none;
    color: rgb(231, 231, 231);
    width: 180px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0px 0px 10px rgba(39, 39, 39, 0.2);
}

#btnDangky:hover {
    background-color: #053c70;
    cursor: pointer;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px rgba(75, 0, 196, 0.5);
}

@media only screen and (max-width: 1280px) {
    .form-row--left>label,
    .form-row--right>label {
        min-width: 100px;
    }
    .form-row {
        padding-left: 20px;
    }
    .form-row--left>input,
    .form-row--right>input {
        width: 30vw;
        font-size: 15px;
    }
    #btnDangky {
        margin-right: 30px;
    }
}

@media only screen and (max-width: 800px) {
    .form-row--left>label,
    .form-row--right>label {
        width: 130px;
    }
    .form-row {
        padding-left: 30px;
        flex-direction: column;
    }
    .form-row--left>input,
    .form-row--right>input {
        width: 60vw;
        font-size: 15px;
    }
    .form-row--right {
        margin-top: 15px
    }
}

@media only screen and (max-width: 570px) {
    .form-row--left>input,
    .form-row--right>input {
        width: 55vw;
        font-size: 15px;
    }
}